:host {
  display: inline-block;
}

@keyframes slideInLeft {
  0% {
    right: -30%;
  }
  100% {
    right: 0%;
  }
}

@keyframes slideOutRight {
  0% {
    right: 0%;
  }
  100% {
    right: -30%;
  }
}


.aircal {
  max-width: 650px;
  font-family: sans-serif;
  position: relative;
  overflow: auto;
  padding: 2rem;
  display: flex;
  // position: absolute;
  position: relative;
  top: 0;
  left: 0;
  z-index: 999;
  overflow: visible;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-flow: column;
  box-shadow: 0px 0px 7px #eef0f3;
  border-radius: 3px;
  > * {
    box-sizing: border-box;
  }
  &__orient {
    &--bottom {
      top: 125%;
      left: 0;
    }
    &--top {
      top: -1290%;
      left: 0;
    }
    &--left {
      top: 10%;
      left: -244%;
    }
    &--right {
      top: -10%;
      left: 105%;
    }
  }
  &--has-arrow {
    &:after, &:before {
      content: "";
      bottom: 100%;
      left: 50%;
      border: solid transparent;
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }
    &:before {
      border-color: rgba(194, 225, 245, 0);
      border-bottom-color: #eef0f3;
      border-width: 10px;
      margin-left: -10px;
    }
    &:after {
      border-color: rgba(136, 183, 213, 0);
      border-bottom-color: #ffffff;
      border-width: 9px;
      margin-left: -9px;
    }
  }
  &--left-bias {
    &:after, &:before {
      content: "";
      left: 10%;
    }
  }
  &--right-bias {
    &:after, &:before {
      content: "";
      left: 90%;
    }
  }
  &__container {
    position: relative;
    width: auto;
    height: auto;
    display: inline-block;
  }
  &__cal {
    display: flex;
    flex-flow: column;
    &__container {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      align-items: flex-start;
      @media screen and (max-width: 700px) {
        flex-flow: column nowrap;
      }
    }
    &--double {
      &:first-child {
        margin-right: 0.75rem;
      }
      &:last-child {
        margin-left: 0.75rem;
      }
      @media screen and (max-width: 700px) {
        flex-flow: column nowrap;
        &:first-child {
          margin-right: 0;
          margin-bottom: 2rem;
        }
        &:last-child {
          margin-left: 0;
        }
      }
    }
  }
  &__shortcut {
    font-size: 0.8rem;
  }
  &__meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__input {
      font-size: 0.8rem;
      letter-spacing: 0.3px;
      color: grey;
      padding: 0.5rem 0.5rem;
      border-radius: 2px;
      border: 1px solid rgb(228, 231, 231);
      min-width: 17rem;
      &__icon {
        position: absolute;
        right: -30%;
        top: 50%;
        transform: translateY(-50%) translateZ(0);
        margin-right: 0.5rem;
        background-color: rgb(0, 166, 153);
        outline: none;
        border: none;
        color: #06332f;
        padding: 0.25rem;
        font-size: 11px;
        border-radius: 2px;
        width: 4.5rem;
        &:hover {
          cursor: pointer;
          background-color: darken(rgb(0, 166, 153), 5%);
        }
        &--alt {
          background-color: #ffdda6;
          color: #736247;
          &:hover {
            background-color: darken(#ffdda6, 5%);
          }
        }
        &--opening {
          animation: slideInLeft 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) forwards;
        }
        &--closing {
          animation: slideOutRight 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) forwards;
        }
      }
      &__container {
        position: relative;
        overflow: hidden;
      }
      &--invalid {
        border-color: #f1a5a5;
        &:focus {
          outline-color: #f1a5a5;
        }
      }
    }
    &--column {
      flex-flow: column nowrap;
    }
    &__rows {
      width: 100%;
      margin: 1rem 0;
      &--first {
        margin-top: 0;
      }
      &--last {
        margin-bottom: 0;
      }
    }
    &__row {
      display: flex;
      &__item {
        color: rgb(202, 204, 205);
        font-size: 0.8rem;
        margin: 0;
        &--highlight {
          color: rgb(149, 163, 177);
        }
      }
      &__shortcuts {
        
      }
    }
  }
  &__text {
    color: rgb(72, 72, 72);
    &__month {
      font-weight: 700;
      margin: 0;
      flex: 1;
    }
  }
  &__icon {
    background-size: 1rem;
    background-repeat: no-repeat;
    background-position: center;
    width: 1rem;
    height: 1rem;
    opacity: 0.7;
    &__next {
      background-image: url("https://image.flaticon.com/icons/svg/66/66831.svg");
    }
    &__prev {
      background-image: url("https://image.flaticon.com/icons/svg/109/109618.svg");
    }
    &:hover {
      cursor: pointer;
      opacity: 0.5;
    }
    &__button {
      border: 0;
      outline: none;
      background-color: transparent;
      &:disabled {
        opacity: 0.2;
        &:hover {
          opacity: 0.2;
          cursor: not-allowed;
        }
      }
    }
  }
  &__button {
    outline: none;
    border: 0;
    margin: 1rem 0;
    background: transparent;
    color: rgb(72, 72, 72);
    font-size: 0.85rem;
    justify-content: space-between;
    align-content: space-between;
    &:hover:not(:disabled) {
      cursor: pointer;
      text-decoration: underline;
    }
    &:disabled {
      opacity: 0.2;
      &:hover {
        cursor: auto;
      }
    }
    &--apply {
      color: rgb(0, 166, 153);
      margin-bottom: 0;
    }
    &--cancel {
      // color: red;
      margin-bottom: 0;
    }
  }
  &__actions {
    display: flex;
    margin: 1rem 0 0 0;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    > button:not(:last-child) {
      margin-right: 1rem;
    }
  }
  &__day {
    &__container {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -1px;
    margin-left: -1px;
    border: 1px solid rgb(228, 231, 231);
    // outline: 1px solid rgb(228, 231, 231);
    color: rgb(72, 72, 72);
    padding: 0.25rem;
    font-size: 0.8rem;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    &:hover {
      cursor: pointer;
      background-color: rgb(228, 231, 231);
      &.aircal--selected {
        background-color: darken(rgb(0, 166, 153), 5%);
      }
    }
    &.aircal--inactive {
      opacity: 0.3;
      pointer-events: none;
    }
    &.aircal--selected {
      background-color: rgb(0, 166, 153);
      color: white;
      border-color: rgb(0, 166, 153);
    }
    &.aircal--istoday:not(.aircal--selected) {
      color: rgb(0, 122, 135);
    }
    &.aircal--highlighted {
      background-color: rgb(178, 241, 236);
      color: rgb(0, 122, 135);
      border-color: rgb(128, 232, 224);
    }
  }
  &__daysofweek {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: rgb(72, 72, 72);
    padding: 0.25rem;
    font-size: 0.75rem;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
  }
  &__helper {
    &--bold {
      font-weight: 700;
    }
  }
}