<!-- <form [formGroup]="form" (ngSubmit)="onSubmitReactiveForms()" novalidate> -->
<form (ngSubmit)="onSubmitReactiveForms()" novalidate>
  
  <!-- <div data-ngx-aircal [options]="calendarOptions" 
    name="dateRange" 
    formControlName="dateRange"
    (onDateRangeCommitted)="onDateRangeCommitted($event)" 
    (onDateRangeChanged)="onDateRangeChanged($event)"
    (onCalendarViewChanged)="onCalendarViewChanged($event)" 
    (onInputFieldChanged)="onInputFieldChanged($event)"
    (onDateRangeInitialised)="onDateRangeInitialised($event)"
    (onDateRangeCleared)="onDateRangeCleared($event)">
  </div> -->

  <div data-ngx-aircal [options]="calendarOptions" 
    name="dateRange" 
    [(ngModel)]="dateRange"
    (onDateRangeCommitted)="onDateRangeCommitted($event)" 
    (onDateRangeChanged)="onDateRangeChanged($event)"
    (onCalendarViewChanged)="onCalendarViewChanged($event)" 
    (onInputFieldChanged)="onInputFieldChanged($event)"
    (onDateRangeInitialised)="onDateRangeInitialised($event)"
    (onDateRangeCleared)="onDateRangeCleared($event)">
  </div>

  <!-- <input type="text" name="dateRange" formControlName="dateRange"/> -->
  <button type="button" (click)="setDateRange()">Set date range</button>
  <button type="button" (click)="clearDateRange()">Clear date range</button>
  <button type="button" (click)="updateOptions()">Update options</button>

  <br>

  <!-- <button type="submit" [disabled]="!form?.valid">Submit form</button> -->
</form>