/* Add application styles & imports to this file! */
* {
  box-sizing: border-box;
}
.bold {
  font-weight: 700;
}

.flex-container {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
      flex-flow: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
      text-align: center;
}

.flex-align-top {
  align-items: flex-start;
}

.aircal {
  width: 616px;
  font-family: sans-serif;
  position: relative;
  left: 1px;
  margin: 5rem auto;
  overflow: auto;
  padding: 1rem;
  &__cal {
    &--double {
      &:first-child {
        margin-right: 0.75rem;
      }
      &:last-child {
        margin-left: 0.75rem;
      }
    }
  }
  &__meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__text {
    color: rgb(72, 72, 72);
    &__month {
      font-weight: 700;
      margin: 0;
      flex: 1;
    }
  }
  &__icon {
    background-size: 1rem;
    background-repeat: no-repeat;
    background-position: center;
    width: 1rem;
    height: 1rem;
    opacity: 0.7;
    &__next {
      background-image: url("https://image.flaticon.com/icons/svg/66/66831.svg");
    }
    &__prev {
      background-image: url("https://image.flaticon.com/icons/svg/109/109618.svg");
    }
    &:hover {
      cursor: pointer;
      opacity: 0.5;
    }
    &__button {
      border: 0;
      outline: none;
      &:disabled {
        opacity: 0.2;
        &:hover {
          opacity: 0.2;
          cursor: not-allowed;
        }
      }
    }
  }
  &__button {
    outline: none;
    border: 0;
    margin: 1rem 0;
    background: transparent;
    color: rgb(72, 72, 72);
    font-size: 0.85rem;
    justify-content: space-between;
    align-content: space-between;
    &:hover:not(:disabled) {
      cursor: pointer;
      text-decoration: underline;
    }
    &:disabled {
      opacity: 0.2;
      &:hover {
        cursor: auto;
      }
    }
    &--apply {
      color: rgb(0, 166, 153);
    }
    &--cancel {
      // color: red;
    }
  }
  &__actions {
    margin: 1rem 0 0 0;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    > button:not(:last-child) {
      margin-right: 1rem;
    }
  }
  &__days {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -1px;
    margin-left: -1px;
    border: 1px solid rgb(228, 231, 231);
    // outline: 1px solid rgb(228, 231, 231);
    color: rgb(72, 72, 72);
    padding: 0.25rem;
    font-size: 0.8rem;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    &:hover {
      cursor: pointer;
      background-color: rgb(228, 231, 231);
      &.aircal--selected {
        background-color: darken(rgb(0, 166, 153), 5%);
      }
    }
    &.aircal--inactive {
      opacity: 0.3;
      pointer-events: none;
    }
    &.aircal--selected {
      background-color: rgb(0, 166, 153);
      color: white;
      border-color: rgb(0, 166, 153);
    }
    &.aircal--istoday:not(.aircal--selected) {
      color: rgb(0, 122, 135);
    }
    &.aircal--highlighted {
      background-color: rgb(178, 241, 236);
      color: rgb(0, 122, 135);
      border-color: rgb(128, 232, 224);
    }
  }
  &__daysofweek {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: rgb(72, 72, 72);
    padding: 0.25rem;
    font-size: 0.75rem;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
  }
}



.flex {
  &__single {
    flex: 1;
  }
}



table {
  font-family: sans-serif;
  border-collapse: collapse;
  border-spacing: 0px;
  thead {

  }
  tbody {

    tr {

      td {
        box-sizing: border-box;
        font-size: 14px;
        text-align: center;
        color: rgb(202, 204, 205);
        background: rgb(255, 255, 255);
        border-width: 1px;
        border-style: solid;
        border-color: rgb(228, 231, 231);
        border-image: initial;
      }
    }
  }
}